<app-header/>

<div class="flex flex-col items-center p-6 space-y-6 w-full max-w-3xl mx-auto">
  <div class="text-2xl font-semibold text-gray-700">{{ 'add-item' | translate }}</div>

  <div class="w-full bg-white border rounded-lg shadow-md p-6 space-y-4">
    <div class="flex items-center space-x-2">
      <span class="font-semibold text-gray-700">{{ 'name' | translate }}:</span>
      <input
        placeholder="{{ 'name' | translate}}..."
        #name
        class="p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 w-full"
      />
    </div>

    <div class="flex items-center space-x-2">
      <span class="font-semibold text-gray-700">{{ 'category' | translate }}:</span>
      <input
        placeholder="{{ 'category' | translate}}..."
        list="category"
        #category
        class="p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 w-full"
      />
      <datalist id="category">
        <option *ngFor="let category of categories" [value]="category"></option>
      </datalist>
    </div>

    <div>
      <div>{{ 'added-products' | translate }}:</div>
      @for(product of products; track $index)
      {
        <div>{{'product-name' | translate}}: {{product.name}}</div>
        <div>{{'product-quantity' | translate}}: {{product.quantity}}</div>
        <input
          type="button"
          value="{{'remove' | translate}}"
          (click)="removeProduct($index)"
          class="bg-red-500 text-white p-2 rounded-lg hover:bg-blue-600 cursor-pointer"
        />
      }
    </div>

    <div class="flex justify-center mt-4">
      <input
        type="button"
        value="{{'add-product' | translate}}"
        [ngStyle]="{visibility: !this.flag ? '' : 'hidden'}"
        (click)="switchMode()"
        class="bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600 cursor-pointer"
      />
    </div>

    @if(this.flag) {
      <div class="space-y-4">
        <!-- Product name input -->
        <div class="flex items-center space-x-2">
          <span class="font-semibold text-gray-700">{{ 'product-name'  | translate}}:</span>
          <input
            placeholder="{{'product-name' | translate}}..."
            #productName
            class="p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 w-full"
          />
        </div>

        <!-- Quantity input -->
        <div class="flex items-center space-x-2">
          <span class="font-semibold text-gray-700">{{ 'quantity' | translate }}:</span>
          <input
            type="number"
            value="1"
            min="1"
            max="99"
            #productQuantity
            class="p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 w-full"
          />
        </div>

        <div class="flex justify-center space-x-4 mt-4">
          <input
            type="button"
            value="{{'submit' | translate}}"
            (click)="addProducts(productName.value, productQuantity.value)"
            class="bg-green-500 text-white p-2 rounded-lg hover:bg-green-600 cursor-pointer"
          />
          <input
            type="button"
            value="{{'cancel' | translate}}"
            (click)="switchMode()"
            class="bg-red-500 text-white p-2 rounded-lg hover:bg-red-600 cursor-pointer"
          />
        </div>
      </div>
    }

    <div class="flex justify-center mt-4">
      <input
        type="button"
        value="{{'add-item' | translate}}"
        (click)="addItem(name.value, category.value)"
        class="bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600 cursor-pointer"
      />
    </div>
  </div>
</div>

<app-scroll-to-top/>
<app-footer/>
