<div class="bg-blue-600 p-4 flex items-center justify-between">
  <!-- Title on the left (slightly off-center) -->
  <div class="text-white text-xl font-semibold">
    <span>Your Shopping List</span>
  </div>

  <div class="flex items-center gap-2">
    <img #en (click)="switchLang(en.alt)" src="https://cdn-icons-png.flaticon.com/128/555/555417.png"
         alt="en" class="w-6 h-6 cursor-pointer hover:opacity-80">
    <img #ru (click)="switchLang(ru.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330437.png"
         alt="ru" class="w-6 h-6 cursor-pointer hover:opacity-80">
    <img #az (click)="switchLang(az.alt)" src="https://cdn-icons-png.flaticon.com/128/330/330544.png"
         alt="az" class="w-6 h-6 cursor-pointer hover:opacity-80">
  </div>

  @if(visibility)
  {
    <nav class="flex space-x-6 text-white">
      <a routerLink="/main" class="hover:text-gray-200">{{ 'home' | translate }}</a>
      <a routerLink="/add-item" class="hover:text-gray-200">{{ 'add-item' | translate }}</a>
    </nav>

    <div>
      <input
        type="button"
        value="{{'log-out' | translate}}"
        (click)="logOut()"
        class="bg-red-500 text-white p-2 rounded-lg hover:bg-red-700 cursor-pointer"
      />
    </div>
  }
</div>
